* {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.awardsMain {
  width: 28% !important;
  background: Black;
  height: 100%;
  border-left: 10px solid white;
  padding: 20px 100px 20px 30px !important;
}

.awardsLists {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  height: 100%;
}

.awardItem {
  display: flex;
}

.serialNumbers {
  padding-right: 10px !important;
  margin-right: 20px !important;
  font-weight: bolder;
}

.questionMain {
  width: 72%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(17, 0, 255, 0.5)), url("https://img.freepik.com/premium-photo/blue-pink-purple-abstract-wallpaper-vivid-light-glow-elements-modern-minimalist-digital-wallpaper_657790-27532.jpg?semt=ais_hybrid&w=740") center;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

}

.timer {
  border: 5px solid white;
  width: 10%;
  padding: 1rem 1.5rem !important;
  border-radius: 50%;
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
}

.question {
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  padding: 1rem 16rem !important;
}

.options {
  margin: 40px 0px 0px 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.optionItem {
  width: 45%;
  padding: 20px 40px !important;
  border: 2px solid white;
  margin: 8px !important;
  font-size: 1.1rem;
  border-radius: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6) !important;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.1s linear all;
  text-transform: uppercase;
}

.optionItem:hover {
  border: 2px solid #00FF00;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px #39ff14,
    0 0 10px #39ff14,
    0 0 10px #39ff14,
    0 0 10px #0f0,
    0 0 10px #0f0,
    0 0 10px #0f0;
  ;
  color: aliceblue;
}

.timeUp {
  background-color: red;
  border: 5px solid white;
  width: 10%;
  padding: 1rem 1.5rem !important;
  border-radius: 50%;
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
}

.active {
  background-color: #39ff14;
  color: black;
  width: 100%;
  padding: 2px 10px !important;
}